<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.TqcglPassengerMapper">

    <resultMap type="TqcglPassenger" id="TqcglPassengerResult">
        <result property="passengerId" column="passenger_id" />
        <result property="passengerName" column="passenger_name" />
        <result property="enterpriseId" column="enterprise_id" />
        <result property="deptId" column="dept_id" />
        <result property="passengerPhone" column="passenger_phone" />
        <result property="passengerPhoto1" column="passenger_photo1" />
        <result property="passengerPhoto2" column="passenger_photo2" />
        <result property="passengerPhoto3" column="passenger_photo3" />
        <result property="userId" column="user_id" />
        <result property="enterpriseName" column="enterprise_name" />
        <result property="deptName" column="dept_name" />
    </resultMap>

    <sql id="selectTqcglPassengerVo"> select passenger_id, passenger_name, enterprise_id, dept_id,
        passenger_phone, passenger_photo1, passenger_photo2, passenger_photo3, user_id from
        tqcgl_passenger </sql>

    <sql id="selectTqcglPassengerVo2"> select passenger_id, passenger_name, enterprise_name,
        dept_name, passenger_phone, passenger_photo1, passenger_photo2, passenger_photo3, user_id
        from tqcgl_passenger p,tqcgl_enterprise e,sys_dept d </sql>

    <select id="selectTqcglPassengerList" parameterType="TqcglPassenger"
        resultMap="TqcglPassengerResult">
        <include refid="selectTqcglPassengerVo2" />
        <where>
            <if test="passengerName != null  and passengerName != ''"> and passenger_name like
        concat('%', #{passengerName}, '%')</if>
            <if test="enterpriseName != null "> and
        enterprise_name = #{enterpriseName}</if>
            <if test="deptName != null "> and dept_name =
        #{dept_name}</if>
            <if test="passengerPhone != null  and passengerPhone != ''"> and
        passenger_phone = #{passengerPhone}</if>
            <if
                test="passengerPhoto1 != null  and passengerPhoto1 != ''"> and passenger_photo1 =
        #{passengerPhoto1}</if>
            <if test="passengerPhoto2 != null  and passengerPhoto2 != ''"> and
        passenger_photo2 = #{passengerPhoto2}</if>
            <if
                test="passengerPhoto3 != null  and passengerPhoto3 != ''"> and passenger_photo3 =
        #{passengerPhoto3}</if>
            <if test="userId != null "> and user_id = #{userId}</if> and
        e.enterprise_id=p.enterprise_id and d.dept_id=p.dept_id </where>
    </select>

    <select id="selectTqcglPassengerByPassengerId" parameterType="Long"
        resultMap="TqcglPassengerResult">
        <include refid="selectTqcglPassengerVo" /> where passenger_id = #{passengerId} </select>


    <select id="selectTqcglPassengerByPassengerId2" parameterType="Long"
        resultMap="TqcglPassengerResult">
        <include refid="selectTqcglPassengerVo2" /> where passenger_id = #{passengerId} and
        e.enterprise_id=p.enterprise_id and d.dept_id=p.dept_id </select>


    <insert id="insertTqcglPassenger" parameterType="TqcglPassenger" useGeneratedKeys="true"
        keyProperty="passengerId"> insert into tqcgl_passenger <trim prefix="(" suffix=")"
            suffixOverrides=",">
            <if test="passengerName != null and passengerName != ''">passenger_name,</if>
            <if
                test="enterpriseId != null">enterprise_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if
                test="passengerPhone != null and passengerPhone != ''">passenger_phone,</if>
            <if
                test="passengerPhoto1 != null">passenger_photo1,</if>
            <if
                test="passengerPhoto2 != null">passenger_photo2,</if>
            <if
                test="passengerPhoto3 != null">passenger_photo3,</if>
            <if test="userId != null">
        user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="passengerName != null and passengerName != ''">#{passengerName},</if>
            <if
                test="enterpriseId != null">#{enterpriseId},</if>
            <if test="deptId != null">
        #{deptId},</if>
            <if test="passengerPhone != null and passengerPhone != ''">#{passengerPhone},</if>
            <if
                test="passengerPhoto1 != null">#{passengerPhoto1},</if>
            <if
                test="passengerPhoto2 != null">#{passengerPhoto2},</if>
            <if
                test="passengerPhoto3 != null">#{passengerPhoto3},</if>
            <if test="userId != null">
        #{userId},</if>
        </trim>
    </insert>

    <update id="updateTqcglPassenger" parameterType="TqcglPassenger"> update tqcgl_passenger <trim
            prefix="SET" suffixOverrides=",">
            <if test="passengerName != null and passengerName != ''">passenger_name =
        #{passengerName},</if>
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if
                test="deptId != null">dept_id = #{deptId},</if>
            <if
                test="passengerPhone != null and passengerPhone != ''">passenger_phone =
        #{passengerPhone},</if>
            <if test="passengerPhoto1 != null">passenger_photo1 =
        #{passengerPhoto1},</if>
            <if test="passengerPhoto2 != null">passenger_photo2 =
        #{passengerPhoto2},</if>
            <if test="passengerPhoto3 != null">passenger_photo3 =
        #{passengerPhoto3},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where passenger_id = #{passengerId} </update>

    <delete id="deleteTqcglPassengerByPassengerId" parameterType="Long"> delete from tqcgl_passenger
        where passenger_id = #{passengerId} </delete>

    <delete id="deleteTqcglPassengerByPassengerIds" parameterType="String"> delete from
        tqcgl_passenger where passenger_id in <foreach item="passengerId" collection="array"
            open="(" separator="," close=")"> #{passengerId} </foreach>
    </delete>

</mapper>